@media(max-width: 1600px) {
    .header-content {
        padding: 10px 50px 10px 50px;
    }

    .pd-left-right {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 1100px) {
    .restaurant-information-item {
        font-size: 12px;
    }
}

@media(max-width: 1000px) {
    .main-content {
        flex-direction: column;
    }

    .restaurant-logo-div{
        left: 45%;
    }

    .restaurant-logo{
        width: 60px;
        height: 60px;    
    }

    .basket-sec {
        width: 100%;
        background-color: #FCFCFC;
        box-shadow: -5px 2px 5px 0px rgba(0, 0, 0, 0.04);
        overflow: hidden;
        position: fixed;
        bottom: 0;
        top: auto;
    }

    #price_calculation_div {
        position: fixed;
        bottom: 0;
        margin-bottom: 20px;
    }

    .close-img{
        display: block;
    }

    footer{
        margin-bottom: 80px;
    }
}

@media(max-width: 600px) {
    .header-content {
        padding: 10px 20px 10px 20px;
    }

    .pd-left-right {
        padding-left: 20px;
        padding-right: 20px;
    }   

    .restaurant-information{
        flex-direction: column;
        gap: 10px;
    }

    .nav-div{
        padding-top: 40px;
    }
}

@media(max-width: 500px){
    h2:first-child{
        margin-top: 20px;
    }

    .header-content img {
        width: 80px;
    }

    .main-img{
        height: 200px;
    }

    .restaurant-logo-div{
        top: 170px;
        left: 42%;
    }

    .meal-image{
        height: 150px;
    }
}

@media(max-width: 400px){
    .restaurant-logo-div{
        left: 40%;
    }
}

